/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* FONDO BASE */
.inicio {
    background-color: #F5EBDC; /* beige retro */
    color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.importante {
    font-weight: bold;
}

/* FORMAS DECORATIVAS */
.forma {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

/* Amarillo */
.forma1 {
    width: 220px;
    height: 220px;
    background: #FFD60A;
    top: 40px;
    left: 40px;
}

/* Rojo */
.forma2 {
    width: 260px;
    height: 260px;
    background: #FF3B3B;
    bottom: 40px;
    right: 40px;
}

/* Azul */
.forma3 {
    width: 180px;
    height: 180px;
    background: #3A86FF;
    top: 200px;
    right: 120px;
}

/* CONTENEDOR */
.contenedor {
    padding: 60px 20px;
}

/* TÍTULO */
.redes {
    background-color: #F5EBDC;
}
.titulo {
    font-size: 65px;
    color: #ff4f0a;
    text-shadow: 5px 5px 0 #fff23b;
    text-align: center;
}

/* TEXTO */
.subtitulo {
    font-size: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    color: #FF3B3B;
}
.frases {
    text-align: center;
}

/* FRASE */
.pregunta {
    font-size: 30px;
    margin-top: 30px;
    color: #FFD60A;
    text-shadow: 3px 3px 0 #000;
    font-weight: bold;
    text-align: center;
}

/* BOTONES */
.botones {
    text-align: center;
}
.boton {
    display: inline-block;
    margin: 15px;
    padding: 15px 25px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 4px 4px 0 #FFD60A;
    transition: 0.2s;
    text-align: center;
}

.boton:hover {
    transform: translateY(-5px);
    background: #FFD60A;
    color: black;
    position: center;
}

/* ESCENA REDES */
.redes2 {
    background-color: #F5EBDC;
    color: black;
    text-align: center;
    position: relative;
}

/* POSTS tipo redes */
.post {
    background: rgb(255, 243, 140);
    margin: 15px auto;
    padding: 15px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
    font-weight: bold;
    text-align: center;
}

/* Hover tipo interacción */
.post:hover {
    transform: scale(1.05);
    background: #FFD60A;
}

/* TEXTOS EXTRA */
.texto {
    max-width: 600px;
    margin: 15px auto;
    font-size: 20px;
}

/* RECOMENDACIÓN */
.recomendacion {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color:red;
}

/* FUENTES */
.fuentes {
    margin-top: 10px;
}

.fuente {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background: #3A86FF;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

.fuente:hover {
    background: #FFD60A;
    color: black;
}


/* ESCENA CANDIDATOS */
.candidatos {
    background-color: #F5EBDC;
    text-align: center;
}

/* GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* TARJETAS */
.card {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
}

/* IMÁGENES */
.card img {
    width: 100%;
    border-radius: 10px;
}

/* LINKS */
.card a {
    display: inline-block;
    margin-top: 10px;
    color: #3A86FF;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    color: #FF3B3B;
}

.card img {
    width: 100%;
    height: 150px;       /* altura fija */
    object-fit: cover;   /* recorta sin deformar */
    border-radius: 10px;
}

.etiqueta {
    display: inline-block;
    margin: 8px 0;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
}

/* COLORES POR IDEOLOGÍA */
.izquierda {
    background: #FF3B3B;
    color: white;
}

.centro {
    background: #FFD60A;
    color: black;
}

.derecha {
    background: #3A86FF;
    color: white;
}

/* ESCENA FINAL */
.final {
    background-color: #F5EBDC;
    text-align: center;
    position: relative;
}

/* TEXTO NORMAL */
.texto {
    max-width: 600px;
    margin: 15px auto;
    font-size: 18px;
}

/* TEXTO FUERTE */
.fuerte {
    font-size: 22px;
    font-weight: bold;
}